body {
    size: 14px;
    width: 100vw;
    margin: 14px 0px 0px 0px;
    padding: 0;
    overflow-x: hidden; 
}
.nav-bar {
    position: sticky; /*TODO why doesnt work?*/
    display: flex;
    align-items: center;
    width: 100vw;
    height: 1rem;
    flex-direction:row;
    padding: 0px 16px 0px 24px;
}
.nav-bar-icon {
    height: 200%;
    width: auto;
}