.banner{
  margin-top: 20px;
  width: 100vw;
  background-color: #1a73e8;
  padding: 1.5rem 0 1.5rem 0;
  text-align: center;
  color: white;
  size: 16px;
}
.landing_cover {
  height: 100vh;
  background-color: rgb(238, 238, 238);
}
.landing_h1 {
  font-size: 45px; 
 
}
.landing_h2 {

}
.landing_row {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.landing_column_1 {
  margin-left: 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.landing_column_2 {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landingCTA {
  margin-top: 10px;
  height:40px;
  background-color: #1a73e8;
  color:white;
  border: transparent;
  padding: 10px 20px 10px 20px;
  border-radius:20px;
  font-size:18px;
}
.landingCTA:hover {
  cursor: pointer;
  background-color: #5f6368;
  transition: 3ms;
}