.h1 {
    font-size: 40px;
    text-align: center;
    
}
.section_build_today {
    width: 100%;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.card {
    width:calc(50%-30px);
    margin: 0px 15px 15px 15px;
    display: flex;
    align-items: center;
    border:1px solid #F1F3F4;
    border-radius: 10px;
    padding: 15px;
}

@media screen and (min-width:600px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .card {
        flex: 1 1 45%;
    }
    
}
